@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/800.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

body {
  height: 100%;
  margin: 0;
  background: #f9fafb;
  color: #333;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
}

li {
  list-style: none;
}